@import "_vars";
@import "modules/_nav.scss";
@import "modules/_header";
@import "modules/_product";
@import "modules/_features";
@import "modules/_process";
@import "modules/_footer";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i&display=swap');



.hidden {
    display: none;
}

body {
    margin: auto 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size:1.7em;
    line-height:1.3em;
}

h2{
    font-size:1.2em;
    line-height:1.4em;
}

h3{
    font-size:1em;
    padding:8px 0 8px 0;
}

p{
    font-weight:300;
    font-size:0.875em;
    line-height:1.4em;
}
