#features-main{
    height:540px;
    padding-top:100px;

    .features-info{
        margin:0 auto;
        margin-right:40px;
        width:160px;
        padding:40px 0 40px 40px;
    }
}

.features-sub{
    .features-sub-title{
        background-color:$first-color;
        height:500px;
        padding:55px 0 0 20px;
    }

    .features-sub-body{
        margin:0 auto;
        width:90%;
        padding:30px 0 30px 0;
    }
}

/**     TABLET QUERY BEGINS     **/

@media (min-width:48em){

    #features-main{

        padding-top:150px;

        .features-info{
            width:390px;
            padding:0;
            padding:20px;
            margin-top:40px;
            margin-bottom:40px;
            border-left:3px solid;
        }
    }

    .features-sub{
        .features-sub-title{
            width:530px;
            height:325px;
            padding:0;
            margin:0 auto;
            margin-right:70px;

            h2{
                padding:85px 0 30px 0;
                margin-left:-135px;
                width:300px;
            }

            h1{ margin-left:-135px; }
        }
    
        .features-sub-body{
            margin:0 auto;
            width:90%;
            padding:40px 0 85px 0;
        }
    }
}

/**     DESKTOP QUERY BEGINS     **/

@media (min-width:60em){

    #features-main{

        .features-info{
            margin-right:90px;
            padding:40px 25px 40px 25px;
        }
    }

    .features-sub{
        
        display:flex;
        flex-wrap:nowrap; 
        justify-content:space-evenly;
        position:relative;
        margin:0 auto;
        max-width:1280px;

        .features-sub-title{
            margin:0 auto;
            margin-bottom:120px;
            padding:0;
            width:525px / 1024px * 100%;

            h1, h2{ margin-left:-160px; }
        }

        .features-sub-body{
            width:200px / 1024px * 100%;
            padding:0;
            padding-right:35px;
            margin:0;
            position:absolute;
            bottom: 120px;
            right: 0;         
        }
    }
}