#main-nav{
    padding:20px;
    height:60px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;

    #logo{
        padding-top:15px;
        width:130px;
    }

    #cart{
        width:45px;
        margin-top:5px;

        img{ width:100%; }
    }
}

/**     TABLET QUERY BEGINS     **/

@media (min-width:48em) {

    #main-nav{
        position:fixed;
        z-index:999;
        width:95%;

        #logo{
            width:160px / 768px * 100%;
        }
    }

}

/**     DESKTOP QUERY BEGINS     **/

@media (min-width:60em) {

    #main-nav{

        #logo{
            width:200px / 960px * 100%;
        }

        #cart{
            width:50px / 960px * 100%;
        }
    }
}