#product-styles{
    height:550px;
    background-color:$fourth-color;

    #product-styles-tagline{
        padding-top:220px;
        margin:0 auto;
        text-align:center;
        width:70%;
        color:#fff;
    }
}

#product-styles-colour{
    margin-top:-90px;

    #product-styles-img{
        margin:0 auto;
        height:140px;
        width:300px;
        background-color:$first-color;
        border-radius: 100px;
    }

    #product-styles-name{
        text-align:center;
        padding:20px 0 35px 0;
        border-bottom:1px solid;

        button{ margin:10px 0 10px 0; }
    }
}

/**     TABLET QUERY BEGINS     **/

@media (min-width:48em) {

    #product-styles{ height:555px; }

    #product-styles-colour{ 
        
        #product-styles-img{
            height:145px;
            width:380px;
        }

        #product-styles-name{
            margin-top:20px;

            button{ margin-bottom:30px; }

            h2{ padding-bottom:25px; }
        }
    }
}