#getting-started{
    text-align:center;
    padding:60px 0 60px 0;
    border-top:1px solid;

    h2{
        padding-bottom:40px;
    }

    .start-steps{
        margin:0 auto;
        width:80%;

        img{
            width:60px / 320px * 100%;
            padding:60px 0 30px 0;
        }

        p{
            margin:0 auto;
            width:270px / 320px * 100%;
        }
    }
}

#order-now{
    height:375px;
    background-image:url('../images/tablet_mockup_1.jpg');
    background-size:cover;
    background-position:center;
    color:#fff;

    h2{
        text-align:center;
        padding-top:160px;
    }
}

#get-app{
    margin:0 auto;
    height:450px;
    
    h2{
        text-align:center;
        padding:100px 0 100px 0;
    }

    #get-app-stores{
        display:flex;
        flex-wrap:nowrap;
        justify-content:center;

        %app-imgs{
            width:75px;
            opacity:0.3;
        }

        #get-app-apple img{
            @extend %app-imgs;
            margin-right:30px;
        }

        #get-app-google img{
            @extend %app-imgs;
            margin-left:30px;
        }
    }

}

/**     TABLET QUERY BEGINS     **/

@media (min-width:48em){

    #getting-started{
        text-align:center;
        padding-top:80px;
        padding-bottom:80px;
        border-top:1px solid;

        #all-start-steps{
            display:flex;
            flex-wrap:nowrap;

            .start-steps{
                width:28%;
            }
        }
    }
}

/**     DESKTOP QUERY BEGINS     **/

@media (min-width:60em){
    
    #getting-started{
        padding:100px 0 120px 0;

        #all-start-steps{

            margin:0 auto;
            max-width:1280px;

            .start-steps{
                width:275px;
            }
            .start-steps img{
                width:300px / 1024px * 100%;
            }
        }
    }

    #get-app-stores{
        img{
            width:100px / 1024px * 100%;
        }
    }
}